# ASSIGNMENT 1: PYTHON FUNDAMENTALS

### EXERCISE 1

Write a Python code that prints your name, student number and email address.

In [3]:
print=input("Enter your name:")
print=int(input("Enter your student number:"))
print=input("Enter your email address")

Enter your name: Liana Simon
Enter your student number: 047
Enter your email address liana@gmail.com

### Or

In [4]:
print("The name of the student is Liana Simon")
print("The student number is 047")
print("The student email address is liana@gmail.com")

The name of the student is Liana Simon
The student number is 047
The student email address is liana@gmail.com

### EXERCISE 2

Write Python code that prints your name, student number and email address using escape sequences.

In [8]:
print("The name of the student is:\n ")
print("Liana Simon")
print("\n")
print("The student number is\t",":",0,"\\",47)
print("\n")
print("The email address of the student is:\tliana@gmail.com")

The name of the student is:

Liana Simon


The student number is	 : 0 \ 47


The email address of the student is:	liana@gmail.com

### EXERCISE 3

Write Python code that add, subtract, multiply and divide the two numbers. You can use the two numbers 14 and 7

In [23]:
a=14
b=7
print("The addition of",a,"and",b,"gives:",a+b) #addition
print("The subtraction of",a,"and",b,"gives:",a-b) #subtraction
print("The multiplication of",a,"and",b,"gives:",a*b) #multiplication
print("The division of",a,"and",b,"gives:",a/b) #division

The addition of 14 and 7 gives: 21
The subtraction of 14 and 7 gives: 7
The multiplication of 14 and 7 gives: 98
The division of 14 and 7 gives: 2.0

### EXERCISE 4

Write Python code that displays the numbers from 1 to 5 as steps.

In [80]:
for i in range(1,6):
    print(i)

1
2
3
4
5

### EXERCISE 5

Write Python code that outputs the following sentence (including the quotation marks and line break) to the screen: 
An example runs of the program:  
"SDK" stands for "Software Development Kit", whereas 

"IDE" stands for "Integrated Development Environment".

In [102]:
print("\"SDK\" stands for \"Software Development Kit\",whereas")
print("\n")
print("\"IDE\" stands for \"Integrated Development Environment.\"")

"SDK" stands for "Software Development Kit",whereas


"IDE" stands for "Integrated Development Environment."

### EXERCISE 5

Practice and check the output

print("python is an \"awesome\" language.")

print("python\n\t2023")

print('I\'m from Entri.\b')

print("\65")

print("\x65")

print("Entri", "2023", sep="\n")

print("Entri", "2023", sep="\b")

print("Entri", "2023", sep="*", end="\b\b\b\b")

In [113]:
print("python is an \"awesome\" language.")

python is an "awesome" language.

In [116]:
print("python\n\t2023")

python
	2023

In [118]:
print('I\'m from Entri.\b')

I'm from Entri

In [132]:
print("\65")

5

In [124]:
print("\x65")

e

In [126]:
print("Entri", "2023", sep="\n")

Entri
2023

In [128]:
print("Entri", "2023", sep="\b")

Entr2023

In [130]:
print("Entri", "2023", sep="*", end="\b\b\b\b")

Entri*20

### EXERCISE 7

Define the variables below. Print the types of each variable. What is the sum of your variables? (Hint: use a type conversion function.) What datatype is the sum?

num=23

textnum="57"

decimal=98.3

In [153]:
num=23
textnum="57"
decimal=98.3
print(type(num))
print(type(textnum))
print(type(decimal))

sum=num+int(textnum)+decimal
print("Sum of the variables=",sum)
print("The type of SUM is ",type(sum))

<class 'int'>
<class 'str'>
<class 'float'>
Sum of the variables= 178.3
The type of SUM is  <class 'float'>

### EXERCISE 8

calculate the number of minutes in a year using variables for each unit of time. print a statement that describes what your code does also. Create three variables to store no of days in a year, minute in a hour, hours in a day, then calculate the total minutes in a year and print the values
(hint) total number of minutes in an year =No.of days in an year * Hours in a day * Minutes in an hour

In [172]:
days=365
minutes=60
hours=24
totalmins=days*hours*minutes
print("The total number of minutes can be found by multiplying-no of days in a year, minute in a hour and hours in a day")
print("The total number of minutes in a year=",totalmins)

The total number of minutes can be found by multiplying-no of days in a year, minute in a hour and hours in a day
The total number of minutes in a year= 525600

### EXERCISE

Write Python code that asks the user to enter his/her name and then output/prints his/her name with a greeting.

An example runs of the program:

Please enter you name: Tony

Hi Tony, welcome to Python programming :)

In [163]:
a=input("Please enter your name:")
print("Hi",a,", welcome to Python programming:)")

Please enter your name: Rahul

Hi Rahul , welcome to Python programming:)

### EXERCISE

Name your file: PoundsToDollars.py

Write a program that asks the user to enter an amount in pounds (£) and the program calculates and converts an amount in dollar ($)

An example runs of the program:

Please enter amount in pounds: XXX

£ XXX are $ XXX

In [170]:
pounds=float(input("Enter the amount in pounds(£)"))
dollars=pounds*1.26 # Exchange rate is 1pound=1.26 dollars
print("£",pounds,"are","$",dollars)

Enter the amount in pounds(£) 5.3

£ 5.3 are $ 6.678